

.title-slide {
  background-image: url('images/bkg.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.subtitle {
  font-size: .5em; 
  color: white; 
  margin-bottom: 200px;
}

      .container {
            display: flex;
            width: auto;
        }
        .left {
            width: 60%;
            font-size: 15px; 
            margin-left: 0px;
        }
        .right {
            width: 40%;
            padding: 5px;
        }
